@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply different right values based on the screen width */
  
  @media (max-width: 1024px) and (min-width: 701px) {
    .dynamic-right {
      right: 16%; /* From 1024px to 700px */
    }
  }
  
  @media (max-width: 700px) and (min-width: 641px) {
    .dynamic-right {
      right: 12%; /* From 700px to 640px */
    }
  }
  
  @media (max-width: 640px) and (min-width: 581px) {
    .dynamic-right {
      right: 8%; /* From 640px to 580px */
    }
  }
  
  @media (max-width: 580px) and (min-width: 501px) {
    .dynamic-right {
      right: 4%; /* From 580px to 500px */
    }
  }
  
  @media (max-width: 500px) {
    .dynamic-right {
      right: 0%; /* Below 500px */
    }
  }
  